<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/students">Home</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/students">student</a>
      </li>
    </ul>
    </nav>
<div class="container">
<div class="jumbotron">
  <div class="text-center"> 
    <h3>Add Book details here</h3>
    </div>
    <b>Book</b><hr><input type="text" [(ngModel)]="books.book" placeholder="Enter Book name" class="form-control form-rounded" />
    <b>Author</b><hr><input type="text" [(ngModel)]="books.author" placeholder="Enter Author name" class="form-control form-rounded"/>
    <b>Department</b><hr><input type="text" [(ngModel)]="books.department" placeholder="Enter Department"class="form-control form-rounded"/>
    <b>Publication</b><hr><input type="text" [(ngModel)]="books.publication" placeholder="Enter Publication"class="form-control form-rounded"/>
    <b>Number of books</b><hr><input type="text" [(ngModel)]="books.totalbook" placeholder="Enter no of books"class="form-control form-rounded"/>
    <div class="text-center"> 
        <button type="button" class="btn btn-primary" (click)="addbook()" style='margin-top:16px'>Add Book</button>
    </div>
</div>
</div>